* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  background-color: rgb(228, 248, 246);
  margin-top: 90px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-form {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: turquoise;
  padding: 20px 0;
  text-align: center;
}

input {
  border: none;
  border-radius: 4px;
  padding: 8px 0 8px 10px;
  margin-right: 10px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.submit-button {
  border: none;
  border-radius: 4px;
  padding: 8px 32px;
  background-color: rgb(227, 236, 236);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  cursor: pointer;
  background-color: rgb(218, 223, 223);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-card {
  margin-bottom: 20px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 8px 8px;
}

.one-photo {
  display: block;
  border-radius: 4px 4px 0 0;
}

.info {
  width: 300px;
  display: flex;
  text-align: center;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.load-more {
  display: flex;
  background-color: rgb(45, 216, 199);
  color: #fafafa;
  border: none;
  border-radius: 4px;
  padding: 8px 32px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  cursor: pointer;
  background-color: rgb(23, 168, 154);
}

.is-hidden {
  opacity: 0;
}
